@import '../../scss/variables.scss';

.event-short__box {
  width: $full-width;
  padding: 12px 0 28px;
  font-size: 14px;
  line-height: 1.6;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .event-short__avatar {
    width: 48px;
    margin-right: 12px;
  }
}

.event-short__text-box {
  max-width: 70%;
}

.event-short__title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 4px 0;
}

.event-short__text {
  margin: 0;
  color: rgba(0, 0, 0, 0.45);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-short__delete-basket {
  cursor: pointer;
  padding: 5px;
  width: 24px;
  max-width: 24px;
  height: 24px;
  flex-grow: 2;
  margin-left: auto;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  background: no-repeat #fff center;
  background-image: url('../../images/basket.svg');

  &:hover {
    @include hover(0.9, '.3s');
  }
}

.event-short__box-links {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}

.event-short__delete-string {
  color: #000;
  cursor: pointer;
  border: none;
  background: #fff;
  padding: 0 8px 0 0;
  font-size: 14px;
  line-height: 1;
  color: $blue-color;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  margin-left: auto;

  &:hover {
    @include hover(0.8, '.3s');
  }
}

.event-short__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
  color: $blue-color;
  margin-left: 8px;

  &:hover {
    @include hover(0.8, '.3s');
  }
}
