@import '../../scss/variables.scss';

.app {
  width: $base-width;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}


// @media screen and (min-width: 660px) {
//   .about-me {
//       width: calc(100% - 100px);
//       max-width: 1140px;
//       margin: 90px auto;
//   }

//   .about-me__title {
//       font-size: 22px;
//       margin: 0 auto 66px;
//       padding: 0 0 23px 0;
//   }
// }

// @media screen and (min-width: 1024px) {
//   .about-me {
//       margin: 110px auto 125px;
//   }
// }
