@import '../../scss/variables.scss';

.main {
  max-width: 812px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__grid {
  width: calc($full-width - 20px);
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(1, minmax($small-card-width, $big-card-width));
  gap: 37px;
}

.main__message {
  text-align: center;
  margin: 80px 0;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 74px auto 37px;
  }

  .main__grid {
    margin-top: 28px;
    grid-template-columns: repeat(2, $small-card-width);
  }
}

@media screen and (min-width: 1024px) {
  .main__grid {
    grid-template-columns: repeat(2, $big-card-width);
    gap: 55px;
  }
}
